@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fast-food{
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

.searchBar{
  border : 1px solid black ;
  outline: none;
  color: black;
  width: 30%;
  margin-left: 25%;
  border-radius: 5px;
}


.main-card--container{
  display : grid ; 
  grid-template-columns: repeat(3 , minmax(300px , 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container{
  margin : 25px 0 auto ;

  position  : relative ;
  display: grid; 
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items:flex-start;
}


.desc-P{
  color: black;
  display: flex;
  padding: 10px;
  margin-top: 5%;
  gap: 20px;
  justify-content: space-evenly;
}

.desc-P div{
  max-width: 400px;
  padding: 20px;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .ManyImages {
  display: grid;
  grid-template-columns: auto auto;
} */


.Search{
  display: flex;
  gap: 10px;
  border: 1px solid black;
  padding: 5px;
  width: 400px;
  margin-bottom: 3%;
}
.Search i{
  color : #000;
  padding-top: 8px;
}

.Search input {
  border: none;
  outline: none;
  font-size: 20px;
  color: #000;
  width: 100%;
}

.cont{
  display: flex;
  gap: 20px;
  spa
}
.cont-p{
  border: 1px solid black;
  width: 40%;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
}